rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {

    // Helper Functions
    function isSignedIn() {
      return request.auth != null;
    }

    function isOwner(userId) {
      return request.auth.uid == userId;
    }

    function getUserData() {
      return get(/databases/$(database)/documents/users/$(request.auth.uid));
    }

    function hasRole(role) {
      return getUserData().data.role == role;
    }

    // Default Deny Rule
    match /{document=**} {
      allow read, write: if false;
    }

    // users Collection
    match /users/{userId} {
      allow read: if isOwner(userId) || (hasRole('seeker') && resource.data.role == 'solver');
      allow update: if isOwner(userId) && request.resource.data.role == resource.data.role;
      allow create: if isSignedIn();
    }

    // challenges Collection
    match /challenges/{challengeId} {
      allow create: if isSignedIn() && hasRole('seeker');
      allow update: if isOwner(resource.data.ownerId);
      allow read: if resource.data.isStealth == false || isOwner(resource.data.ownerId) || request.auth.uid in resource.data.allowedViewerIds;
    }

    // applications Collection
    match /applications/{applicationId} {
        allow create: if hasRole('solver') && getUserData().data.probationaryStatus == false;
        allow read: if isOwner(resource.data.solverId) || request.auth.uid == resource.data.challengeOwnerId;
    }

    // sys_audit_logs Collection
    match /sys_audit_logs/{logId} {
      allow read, write: if false;
    }
  }
}
