@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-surface text-primary;
    -webkit-font-smoothing: antialiased;
  }
}

@layer utilities {
  .shadow-mechanical {
    box-shadow: 5px 5px 10px #a3a3a3, -5px -5px 10px #ffffff;
  }
  .shadow-levitated {
    box-shadow: 10px 10px 20px #a3a3a3, -10px -10px 20px #ffffff;
  }
}
